<div id="<%= dom_id user_record %>">
  <p>
    <strong>ID:</strong>
    <%= user_record.id %>
  </p>

  <p>
    <strong>Library:</strong>
    <%= user_record.library_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= user_record.user_id %>
  </p>

</div>
