<h1>Editing user record</h1>

<%= render "form", user_record: @user_record %>

<br>

<div>
  <%= link_to "Show this user record", @user_record %> |
  <%= link_to "Back to user records", user_records_path %>
</div>
